@model d1.Models.Elf
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2> Elf with id: @Model.Id has a total foodsupply of: @Model.CalorieSum calories</h2>
    <p>This table shows the elfs foodcontainer content and the id of the whole expeditionsupply</p>
    <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Food Id</th>
                <th>Calories per Food</th>
            </tr>

        @foreach (var food in Model.FoodContainer)
        {
            <tr style="border: 2px solid black;">

                <td>
                    @Html.DisplayFor(model => food.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => food.Calories)
                </td>

            </tr>
        }
        </table>
    <input type="button" value="See all Elves" onclick="location.href='@Url.Action("AllElves", "Home")'" />
    <input type="button" value="3 Mvps" onclick="location.href='@Url.Action("GetTopThreeElvesWithTheHighestCalories", "Home")'" />
</div>
